<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Rest API{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">
{% block body %}{% endblock %}
<h1 class="text-center">
    Sandbox avec Kanest
</h1>
<a class="btn btn-primary" href="{{ path('rest_accounts_message') }}">v1/accounts</a>
<a class="btn btn-primary" href="{{ path('rest_account_message') }}">v1/accounts/{id}</a>
<div>
    <br>
    <h3>Ajout d'un compte</h3>
    <ul class="list-group">
        {{ form(form) }}
    </ul>
    <br>

    <h3>Les comptes</h3>
    <ul class="list-group">
        {% for account in accounts %}
            <li class="list-group-item">{{ account.id }}</li>
            <br>
        {% endfor %}
    </ul>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
